body{
margin:0; 
padding: 0; 
overflow: -moz-hidden-unscrollable;

}
*html{
margin: 0;
padding: 0;
}
#navbar{
top:0;
position:fixed;
background-color:rgb(190,49,68);
height:70px;
font-size:30px;
width:100%;
display:flex;
justify-content:flex-end;
}
#navbar > a{
margin: 10px;
padding: 3px;
}

#welcome-section{
top:50%;
margin:0;
padding:10px;
width:100%;
height:100vh;
background-color:rgb(34,35,37);
color:white;
}
#welcome-section p{
color:red;
}
#welcome-section, h1{
margin:12px;
padding:70px;
text-align:center;
font-size:50px;
}
.project-tile{
text-align: center;
font-size: 30px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: underline;

}
#projects{
padding: 0px;
margin:0px;
height:100vh;
width:100%;
background-color:rgb(69,86,125);
max-height: 100%;
}
.expense{
box-sizing: border-box;
display:flex;
flex-direction:row;
flex-wrap:wrap;
gap:10px;
justify-content: space-between;


}

.box-1,.box-2,.box-3,.box-4,.box-5,.box-6,.box-7{
border:5px solid black;
height:30vw;
width:30%;
gap:10px;
margin:2px;
padding:3px;
}
img{
margin:0;
padding: 0;
object-fit:cover;
height: 100%;
width:100%;
}
#Contact{
width:100%;
height:50vw;
color: white;
background-color: rgb(2, 2, 41);
}

.talk{
height: -2%;
margin: 0;
top:0%;
text-align: center;
}
.contact{
height: 20vw;
width: 100%;

display:flex;
flex-direction: row;
margin:0 auto 20px;
justify-content: center;
gap: 10px;
font-size: 35px;
font-family: Helvetica, sans-serif;
object-fit: contain;
}
.bottom{
height: 20vh;
width: 100%;

justify-content: center;
margin-top: 15px;
object-fit: cover;



}
footer{
text-align: center;
background-color: darkgray;
height: 10vw;
width: 100%;
padding-top: 30px;
bottom: 0%;
margin: 10;
color: green;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
}
a{
text-decoration: none;
font-weight: 300;
}
a:hover{
cursor: pointer;
background-color: chartreuse;
}

#show-more{
  background-color: red;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
#show-more:hover{
  color: blue;
}


@media(max-width:760px){
header{
color:blue;
}
}